main{
	display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 98vh;
	background-color:hsl(0,0%,0%);
}

#quote{
	color: white;
    font-family: 'Aladin', sans-serif;
    font-size: xx-large;
}

#author{
color: white;
    font-family: 'Grand Hotel', sans-serif;
    font-size: x-large;
}